<style type="text/css">
	.about{}

.about-team {
    background-color: grey;
    padding: 6px;
    border: 8px solid #fff;
    margin-top: 30px;
}

.about-team img {
    width: 100%;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-5">
			<div class="about-team">
				<img src="/assets/team.jpg" title="Search For Hostels Online">
			</div>
		</div>
		<div class="col-lg-7">
			<div class="about">
				<h1>What is HPS?</h1>
				<p>HPS is an online service being provided by the people at STCs
				to help students find and book rooms for stay during an amount of time.
				</p>
			</div>
			<div class="about">
				<h1>What is our Mission?</h1>
				<p>
					With HPS we seek to help individuals or group of persons to find
					and make payment for Hostel accomodation very easily. We work with
					various organizations and Hostel facility managers to help in the 
					creation of a very convenient way in acquiring rooms.
				</p>
			</div>
			<div class="about">
				<h1>Who are behind HPS?</h1>
				<p>
					As part of several projects being undertaken, HPS is part of such 
					child project being undertaken by the Team at STCs. And is being managed
					by the team as such.
				</p>
			</div>
		</div>
	</div>
</div>