<style type="text/css">

</style>
<div class="container">
	<h1>Drop us a message at STCs/HPS</h1>
	<div class="row">
		<div class="col-lg-7">
			<div class="contact">
				<input type="text" placeholder="Full Name" required="true"><br/>
				<input type="email" placeholder="Email" required="true"><br/>
				<input type="text" placeholder="Subject" required="true"><br/>
				<textarea>
					
				</textarea><br/>
				<input type="submit" value="Send Mail">
			</div>
		</div>
		<div class="col-lg-5">
			<address>
				<strong>Stable Corps</strong><br/>
				P.O. Box KS 16999<br/>
				Kumasi<br/>
				<abbr title="Email">Email:</abbr> info@stablecorps.com<br/>
				<abbr title="Phone">Tel:</abbr> (+233) 20 373-2946				 
			</address>
			<div class="contact-icon">
				<div>
					<a href="http://www.facebook.com/stablecorps" target="blank"><i class="fa fa-facebook"></i> Facebook</a>
				</div>
				<div>
					<a href="https://plus.google.com/108558238395241676713/posts" target="blank">
					<i class="fa fa-google-plus"></i> Google Plus</a>
				</div>
			</div>
		</div>
	</div>
</div>
