<div class="container">
	<div class="row" style="margin-top: 30px;"> 
		<div class="col-lg-4">
			<%= render :partial => "shared/login_form" %>
		</div>
		<div class="col-lg-8">
			<%= render :partial => "shared/user_registration" %>
		</div>
	</div>
</div>