<fieldset>
	<legend>Personal Details</legend>
	<label>Firstname: </label> <input type="text"><br/>
	<label>Lastname: </label> <input type="text"><br/>
	<label>Contact No: </label> <input type="text"><br/>
	<label>Email: </label> <input type="text"><br/>
	<label>Current Residence/Institution:</label>
	<input type="text" placeholder="Current Residence / Institution">
	<input type="submit" value="send">
</fieldset>