@font-face {
  font-family: "Open Sans Condensed";
  src: url("/assets/Open_Sans_Condensed/OpenSans-CondLight.ttf");
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/assets/Open_Sans_Condensed/OpenSans-CondBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/assets/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Dancing Script";
  src: url("/assets/Dancing_Script/DancingScript-Regular.ttf");
}

@font-face {
  font-family: "Dancing Script";
  src: url("/assets/Dancing_Script/DancingScript-Bold.ttf");
  font-weight: bold;
}

html,body {
  height:100%;
  /*background: url('/assets/halftone.png');*/
}

h1 {
  font-family: Arial,sans-serif;
  font-size: 70px;
  color:#DDCCEE;
}

  .navigation{}

.navigation ul {
    margin: 0px;
    padding: 0px;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: underline;
    color: #386788;
    font-weight: bold;
}

.navigation ul li a {
    padding: 15px 20px;
    color: #386788;
    text-decoration: none;
    font-weight: 200;
}

.navigation ul li:hover{
  background-color: rgba(0,0,0,0.1);
  color: #000;
}

.lead {
	color:#DDCCEE;
  margin-bottom: 0px;
}

.background{  
  background-image: url('/assets/congruent_outline.png');
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#FFF;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  
/** Forms **/
form input[type="text"]{}

form input[type="password"]{}

form input[type="email"]{}

form input[type="submit"]{
  cursor: pointer;
  border-radius: 1px;
  background: rgba(144,144,144,1);
  text-shadow: none;
  margin-top: 15px;
}

form input[type="text"], form input[type="password"],
form input[type="email"]{
    width: 100%;
    font-size: 13px;
    padding: 11px 22px;
    margin-top: 15px;
}
}

/** Contact **/
.contact {
    background-color: rgba(255,255,255,0.64);
    padding: 13px 10px;
    border: 0.01em dashed rgba(114, 111, 228, 0.9);
}
.contact input{}
.contact input[type="text"]{}
.contact input[type="email"]{}
.contact input[type="submit"]{}

.contact input[type="text"], .contact input[type="email"] {
    width: 250px;
    margin-bottom: 10px;
    padding: 5px 12px;
}

.contact input[type="submit"] {
    cursor: pointer;
    border-radius: 1px;
    background: rgba(144,144,144,1);
    text-shadow: none;
}

  .contact textarea{
    width: 352px; 
    height: 222px; 
    resize: none;
    margin-bottom: 10px;
  }

  .contact-icon {}

.contact-icon div {
    margin-bottom: 10px;
}

.contact-icon div i {
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 30px;
    padding: 8px;
    width: 35px;
    text-align: center;
    margin-right: 10px;
}