@font-face {
  font-family: "Open Sans Condensed";
  src: url("/assets/Open_Sans_Condensed/OpenSans-CondLight.ttf");
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/assets/Open_Sans_Condensed/OpenSans-CondBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/assets/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Dancing Script";
  src: url("/assets/Dancing_Script/DancingScript-Regular.ttf");
}

@font-face {
  font-family: "Dancing Script";
  src: url("/assets/Dancing_Script/DancingScript-Bold.ttf");
  font-weight: bold;
}

html,body {
  height:100%;
}

h1 {
  font-family: Arial,sans-serif
  font-size: 70px;
  color:#DDCCEE;
}

.lead {
	color:#DDCCEE;
  margin-bottom: 0px;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-image: url('/assets/congruent_outline.png');
  background-color:#FFF;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  