@font-face {
  font-family: "Open Sans Condensed";
  src: url("/assets/Open_Sans_Condensed/OpenSans-CondLight.ttf");
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/assets/Open_Sans_Condensed/OpenSans-CondBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/assets/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Dancing Script";
  src: url("/assets/Dancing_Script/DancingScript-Regular.ttf");
}

@font-face {
  font-family: "Dancing Script";
  src: url("/assets/Dancing_Script/DancingScript-Bold.ttf");
  font-weight: bold;
}

html,body {
  height:100%;
  background: url('/assets/halftone.png');
}

h1 {
  font-family: Arial,sans-serif
  font-size: 70px;
  color:#DDCCEE;
}

  .navigation{}

.navigation ul {
    margin: 0px;
    padding: 0px;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 20px;
}

.navigation ul li a {
    padding: 15px 20px;
    color: #386788;
    text-decoration: none;
}

.navigation ul li:hover{
  background-color: rgba(0,0,0,0.1);
  color: #000;
}

.lead {
	color:#DDCCEE;
  margin-bottom: 0px;
}

.background{  
  background-image: url('/assets/congruent_outline.png');
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#FFF;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  