<style type="text/css">
	.st_user-hostels{}

.st_user-hostels .st_user-hostel {
    width: 32%;
    float: left;
    margin-top: 25px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-left: 12px;
    padding: 8px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.st_user-hostels .st_user-hostel .st_user-hostel-name {
    text-align: center;
    font-family: Arial;
    letter-spacing: 0.05em;
}

.st_user-hostels .st_user-hostel .st_user-hostel-pictures {
    background: gainsboro;
    min-height: 200px;
}

.st_user-hostels .st_user-hostel .st_user-hostel-pictures img {
    width: 100%;
    margin: 5px;
    padding: 5px;
}

	.st_user-hostels .st_user-hostel .st_user-hostel-location {}
</style>
<div class="st_user-hostels">
	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>

	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>

	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>

	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>

	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>

	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>

	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>

	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>

	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>

	<div class="st_user-hostel">
		<div class="st_user-hostel-pictures"><img src="" alt="Pictures"></div>
		<div class="st_user-hostel-name">Hostel Name</div>
		<div class="st_user-hostel-location">Location</div>
	</div>
</div>