<!DOCTYPE html>
<html>
<head>
  <title>HPS</title>
  <!-- 
  <link href='http://fonts.googleapis.com/css?family=Pacifico|Dancing+Script|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> 
  -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="font-family: 'Open Sans Condensed', sans-serif;">
<div class="container-full background">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="margin-top: 12%;">
        	<h1 style="color: #FFF;font-weight: bolder;font-size: 80px; font-family: 'Dancing Script', cursive;">Stable Corps</h1>
          	<h1 style="color: #FFF; font-size: 40px;">HPS</h1>
          	<p class="lead" style="font-style: italic;">Welcome to Stable Corps Hostel Placement System</p>
          
          	<br><br>
          
          	<script type="text/javascript">var submitted=false;</script>
          	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='';}"></iframe>

			<form action="https://docs.google.com/forms/d/1sGRxEdeKlXEzPAosH-Jj_s6cv9b3RLFtLueGhIuHa_8/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;" class="col-lg-12">
				<div class="input-group" style="width:340px;text-align:center;margin:0 auto;">					<input type="email" name="entry.347984871" value="" id="entry_347984871" dir="auto" aria-label=" Email Must be a valid email address" aria-required="true" required="true" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Enter your email address" class="form-control input-lg">
					<span class="input-group-btn">
						<button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-lg btn-primary">OK</button>
					<!-- <button class="btn btn-lg btn-primary" type="button">OK</button> -->
					</span>
            	</div>

					
			</form>


          <!-- <form class="col-lg-12">
            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
            <input class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Enter your email address" type="text">
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
            </div>
          </form> -->
        </div>
        
      </div> <!-- /row -->
  
  	  <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>
      
      </div>
  
  	<br><br><br><br><br>

</div> <!-- /container full -->

<div class="container">
  
  	<hr>
  
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>About HPS.</h3></div>
            <div class="panel-body">
            	HPS is here to help bridge the gap between you and hostel managers.
            	We are providing a way for you to find, access, and review hostel facilities around you.
            	HPS enables you to find for your accomodation and make payment directly with no hustle or stress. Just enter your email to get notification on the HPS launch day.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>About STCs</h3></div>
            <div class="panel-body">
            	We create excellent innovative and more user interactive engineering softwares with reduced development time and high efficiency. STABLE CORPS employs advanced programming techniques to ensure that your needs are met. We at STABLE CORPS are ever ready to enable you to meet your deadlines when it comes to engineering software development.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Contact.</h3></div>
            <div class="panel-body">
            	<p>(+233)-020X XXX XXXX</p>
            	<p>P.O.Box XXX Ghana</p>
            	<p>Kumasi-KNUST campus</p>
            </div>
          </div>
        </div>
    </div>
  
	<div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"><a href="www.stablecorps.com">stablecorps.com</a> &nbsp; ©Copyright 2014 STCs-HPS<sup></sup></p>
        <br><br>
        </div>
    </div>
</div>
<!-- 
<h1>Welcome to HPS </h1>
<p><a href="/welcome/index">Index</a></p>
<p><a href="/welcome/about">About</a></p>
<p><a href="/welcome/contact">Contact</a></p>
<%= yield %> -->

</body>
</html>
